*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.abdul-continuer{
    width: 100%;
    height: 40px;
    display: flex;
    color: #fff;
    background-color: #065fbd;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 28px;
    justify-content: space-between;
}
.left-top-bar,.right-top-bar{
    display: flex;
    align-items: center;
}
.left-top-bar{
    margin-left: 8.5rem;
}
.right-top-bar{
    margin-right: 8.5rem;
}
.left-top-bar-link{
    text-decoration: none;
    color: #fff;
    padding: 0 0 0 10px;
}
.option-right-top-bar{
    padding-left: 10px;
}
#right-top-bar-select{
    color: #fff;
    background: inherit;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.top-bar-vertical-line{
    width: 1px;
    height: 40px;
    background-color: #ffffff;
    opacity: 0.1;
    margin: 0 10px;
}

/*Navigation Part Style*/

.navigation-continuer{
    width: 100%;
    height: 85px;
    padding: 15px 40px;
    background-color: #FFFFFF;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
    align-items: center;    
}
.navbar-logo a{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    margin: 0 0 0 8.5rem;
    font-weight: 900;
    font-family: 'Arial Black', 'Helvetica', sans-serif;  
}
.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}
.navbar-list li{
    position: relative;
}
.navbar-list li a{
    color: #000;
    text-decoration: none;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    transition: 0.3s; 
}
.navbar-list li i{
    font-size: 10px;
    margin-left: 5px;
}
.navbar-list li a:hover{
    color: #0066FF;
}

.navbar-icon{
    margin: 0 9rem 0 0;
    display: flex;
    align-items: center;
    gap: 20px;     
}
.icon-link{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}
.icon-link:hover {
    color: #0066FF;
}









